--extra-index-url https://download.pytorch.org/whl/cpu
streamlit==1.32.0
langgraph>=0.2.0
langchain-core>=0.2.0
langchain-groq>=0.1.0
pandas==2.2.1
python-dotenv==1.0.1
pydantic==2.6.4
faiss-cpu
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
numpy
python-docx
